@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
body, html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.053em;
}
h1 .hone {
    font-weight: 400;
    font-size: 75px;
    line-height: 1.053em;
}
h2 {
    font-weight: 400;
    font-size: 41px;
    line-height: 1.121em;
}
h2 span {
    font-weight: 700;
    font-size: 41px;
}
h3 {
    font-size: 31px;
    font-weight: 500;
    line-height: 1.483em;
}
h4 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.84em;
    
}
h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.363em;
    text-transform: capitalize;
    
}
h6 {
    font-size: 20px;
    font-weight: 500;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover {
    text-decoration: none;
}

label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    margin: 0 0 21px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 54px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #DBDBDB;  
    background: #FBFBFB;
    color: #ACACAC;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    padding: 20px 32px;
}
select {
    width: 100%;
    height: 54px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #DBDBDB;  
    background: #FBFBFB;
    color: #ACACAC;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    padding: 15px 24px;
}
select option {
    font-size: 14px;
    font-weight: 400;
    color: #ACACAC;
    border-radius: 10px;
    border: 1px solid #DBDBDB; 
}
textarea[type=message] {
    resize: none;
    outline: none;
    width: 100%;
    height: 142px;
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    background: #FBFBFB;
    padding: 24px 39px;
    font-size: 14px;
    font-weight: 400;
    color: #ACACAC;
    letter-spacing: 0.28px;
    
}
input[type="submit"] {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 42px;
    border-radius: 25px;
    background: linear-gradient(96deg, #00CC6F -13.55%, #6C6CFF 124.88%);
    border: none;
    
}
.MybtnOne {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    padding: 13px 30px 13px 30px;
    border-radius: 25px;
    text-transform: capitalize;
    background: linear-gradient(96deg, #00CC6F -13.55%, #6C6CFF 124.88%);
    display: inline-block;
}
.MybtnOne img {
    margin-left: 9px;
}
.MybtnOne:hover {
    text-decoration: none;
    color: #FFF;
    background: rgb(108,108,255);
    background: linear-gradient(96deg, rgba(108,108,255,1) 0%, rgba(0,204,111,1) 100%);
}
.MybtnTwo {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 27px;
    border-radius: 25px;
    color: #FFF;
    text-transform: capitalize;
    background: linear-gradient(96deg, #00CC6F -13.55%, #6C6CFF 124.88%);
    display: inline-block;
}
.MybtnTwo img {
    margin-left: 9px;
}
.MybtnTwo:hover {
    text-decoration: none;
    color: #FFF;
    background: rgb(108,108,255);
    background: linear-gradient(96deg, rgba(108,108,255,1) 0%, rgba(0,204,111,1) 100%);
}
.MybtnThree {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 12px 27px;
    border-radius: 25px;
    text-transform: capitalize;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(180deg, #00CC6F, #6C6CFF) border-box;
    border: 1px solid transparent;
    display: inline-block;
}
.MybtnThree img {
    margin-left: 9px;
}
.MybtnThree:hover {
    text-decoration: none;
    color: #FFF;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* start-monday-home-page */
/* monday-start-header */
.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
/* .header-nav-btn {
    background-color: #000!important;
} */
.header-nav-menu ul li {
    border-right: 2px solid #333;
    line-height: 1px;
    
}
.header-nav-menu ul li a {
    color: #333!important;
    position: relative;
    height: 100%;
    display: inline-block;
    margin: 0 25px;
}
.header-nav-menu ul li a:hover {
    color: #5183DB!important;
}
.header-nav-menu ul .active a {
    color: #5183DB!important;
}
.header-nav-left-btn .MybtnTwo {
    margin: 0 5px 0 0;
}
.header-nav-left-btn  .MybtnThree {
    margin: 0 0 0 5px;
}
.header-nav-btn {
    position: relative;
}
.header-nav-btn span {
    width: 100%;
    height: 2px;
    display: block;
    background: #000;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
} 
.header-nav-btn::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 2px;
    opacity: 1;
    z-index: 99;
}
.header-nav-btn::after {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 2px;
    display: block;
    background: #000;
    border-radius: 2px;
    opacity: 1;
}
.header-nav-btn[aria-expanded="true"].header-nav-btn::before {
    transform: rotate(40deg);
    transform-origin: 9% 10%;
}
.header-nav-btn[aria-expanded="true"].header-nav-btn span {
    opacity: 0;
}
.header-nav-btn[aria-expanded="true"].header-nav-btn::after {
    transform: rotate(-43deg);
    transform-origin: 9% 100%;
}

/* monday-stop-header */

/* monday-start-bannar */
.section-bannar-back {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.section-bannar-back-pic .bg-bannar-pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   object-fit: cover;
}

.bannar-back-pic-overlay {
    position: relative;
    padding-top: 94px;
    padding-bottom: 250px;
}
.bannar-back-pic-overlay-content {
    text-align: center;
}
.bannar-back-pic-overlay-content h1 {
    color: #FFF;
    width: 75%;
    margin: 0 auto 24px;
}
.bannar-back-pic-overlay-content p {
    color: #ffffff;
    width: 74%;
    margin: 0 auto;
}
.bannar-department {
    margin-top: 48px;
}

.bannar-department-divided {
    height: 165px;  
    
}
.bannar-department-divided-box {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    background: rgba(255, 255, 255, 0.28);
    padding: 27px 40px;
    transition: all .4s ease-in-out;
}
.bannar-department-divided-box:hover {
    background: rgba(232, 232, 232, 0.429);
    transform: translateY(-7px);
}
.bannar-department-divided-box span {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    display: block;
    text-transform: capitalize;
    margin: 12px 0 0;
}
.bannar-department .MybtnOne {
    margin-top: 71px;
    
}
.bannar-normal-content p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 28px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    display: block;
}
/* monday-stop-bannar */

/* start-bannar-btm */
.section-bannar-btm {
    padding-bottom: 50px;
    margin-top: -210px;
}
.section-bannar-btm-back {
    position: relative;
}
.section-bannar-btm-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section-bannar-btm-left-pic {
    width:  100%;
    max-width: 617px;
    height: 410px;
    border-radius: 10px;
}
.section-bannar-btm-left-pic img {
    width: 100%;
    height: 100%;
    max-width: 100%;
  
}
.section-bannar-btm-right {
    position: absolute;
    top: 0;
    right: 0;
  
}
.section-bannar-btm-right-pic {
    width:  100%;
    height: 410px;
    max-width: 617px;
    position: relative;
  
}
.section-bannar-btm-right-pic img {
    width: 100%;
    height: 100%;
    max-width: 100%;
   
}

.section-bannar-btm-box-pic {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 460px;
    max-width: 691px;
    margin: 0 auto;
    
}
.section-bannar-btm-box-pic img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: -24px auto 0;

   
}
/* stop-bannar-btm */

/* start-customer */
.section-customer {
    padding-top: 70px;
    padding-bottom: 50px;
}
.section-customer p {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    font-weight: 400;
}
.section-customer-box {
    margin: 45px 0 0
}
.customer-slider .slick-track {
    display: flex;
}
.customer-slider-box-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.customer-slider .slick-arrow {
    border: none;
    font-size: 0;
    background-color: unset;
    display: block;
}
.customer-slider.slick-slider {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.customer-slider-box.slick-slide {
    height: auto;
}

/* stop-customer */

/* start-client */
.section-client {
    padding-top: 50px;
    padding-bottom: 150px;
}
.section-client h2 {
    width: 40%;
}

.section-client-box {
    margin-top: 32px;
    position: relative;
}

.client-content-left {
    width: 487px;
    height: 319px;
    position: relative;
    z-index: 9999;
    padding: 154px 0 84px;
}
.client-content-left-box {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FEFEFE;
    box-shadow: 0px 0px 15px rgba(120, 120, 120, 0.09);  
    padding: 32px;
}
.client-slide-title {
    display: flex;
    align-items: center;
}
.client-title-lft-pic {
    width: 77px;
    height: 77px;
    border-radius: 50%;
}
.client-title-lft-pic img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-title-rgt {
    margin-left: 16px;
}
.client-title-rgt-hd h6 {
    color: #000;
}
.client-title-rgt-hd span {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    display: block;
}
.client-slide-rating {
    margin-top: 17px;
}
.client-slide-rating ul {
    display: flex;
    align-items: center;
}
.client-slide-rating ul li {
    margin: 0 4px;
}
.client-slide-text-prg p {
    color: #333;
    line-height: 35.5px;
    margin-top: 24px;
}
.client-content-left-slider .slick-list {
    margin: -15px;
}
.client-content-left-slider-box {
    padding: 15px;
}
.client-content-left-slider {
    position: relative ;
}
.client-content-left-slider .slick-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: unset;
    font-size: 0;
}
.client-content-left-slider .slick-prev {
    bottom: 41px;
    right: -12%;
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 12px;
    z-index: 9999;
   
}
.client-content-left-slider .slick-next {
    bottom: 41px;
    right: -25%;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 12px;
    z-index: 9999;

}
.client-content-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.client-content-right-box {
    width: 686px;
    height: 100%;
}
.client-content-right-box img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}
.client-box-top-shadow {
    position: absolute;
    top: -23%;
    left: 29%;
    z-index: 99;
}
.client-box-btm-shadow-1 {
    position: absolute;
    bottom: -40%;
    right: -10%;
    z-index: 99;
}
.client-box-btm-shadow-2 {
    position: absolute;
    bottom: -37%;
    right: 7%;
    z-index: 99;
}
/* stop-client */

/* start-award */
.section-award {
    padding-top: 130px;
    padding-bottom: 30px;
}
.section-award-back {
    width: 100%;
    max-width: 1400px;
    position: relative;
}
.section-award-back-pic .award-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99;
}
.section-award-back-pic-over .container {
    position: relative;
}

.section-award-back-over-pic .award-back-over-bg-img {
    position: absolute;
    bottom: -59px;
    left: 182px;
    z-index: 999;
}
.section-award-back-over-content {
    position: relative;
    padding-top: 90px;
    padding-bottom: 80px;
    z-index: 9999;
}
/* .section-award-back-pic-over .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
} */
.award-over-box {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
}
.award-over-lft {
    width: 450px;
    padding-left: 5px;
    padding-right: 5px;
}
.award-over-rgt {
    width: 650px;
    padding-left: 5px;
    padding-right: 5px;
}
.award-over-rgt-box {
    margin: 0 -139px 0 0;
}
.award-over-rgt-slider-vote {
    
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.00);
    padding: 45px 34px;
}

.award-over-rgt-slider .slick-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: unset;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #00CC6F;
    font-size: 0;
}
.award-over-rgt-slider .slick-prev {
    position: absolute;
    bottom: 0;
    left: -53%;
    display: inline-block;
    background-image: url(../images/award-arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    visibility: visible;
    pointer-events: all;
    z-index: 9999;
}
.award-over-rgt-slider .slick-prev:hover {
    background-image: url(../images/award-arrow-hover-left.png);
    background-color: #00CC6F;
}

.award-over-rgt-slider .slick-next {
    position: absolute;
    bottom: 0;
    left: -45%;
    display: inline-block;
    background-image: url(../images/award-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
    pointer-events: all;
    z-index: 9999;
}
.award-over-rgt-slider .slick-next:hover {
    background-image: url(../images/award-arrow-hover-right.png);
    background-color: #00CC6F;
}
.slide-logo-2 {
    width: 185px;
    height: 96px;
}
.award-over-rgt-slider-box.slick-slide {
    padding: 0 20px;
}
.award-over-lft-rating {
    margin: 24px 0 0;
}
.award-over-lft-rating ul {
    display: flex;
    align-items: center;
}
.award-over-lft-rating ul li {
    margin: 0 4px;
}
.award-over-lft-text h2 {
    color: #FFF;
    margin: 24px 0 20px;
}
.award-over-lft-text p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin: 10px 0 0px;
}

.award-over-rgt-slider-vote-text h5 {
    margin: 21px 0 0;
    position: relative;
    padding: 0 0 21px;
}
.award-over-rgt-slider-vote-text h5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 69px;
    height: 1px;
    background: #D0D0D0;
    
}
.award-over-rgt-slider-vote-text p {
   margin: 21px 0 0;
}
/* stop-award */

/* start-deliver */
.section-deliver {
    padding-top: 60px;
    padding-bottom: 87px;
}
.section-deliver-box {
    text-align: center;
}
.section-deliver-box h2 {
    width: 50%;
    margin: 0 auto 32px;
}
.section-deliver-box .section-deliver-prg {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.section-deliver-box .section-deliver-prg p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.deliver-prg-1 {
    position: relative;
}
.deliver-prg-1::after {
    content: "";
    position: absolute;
    top: 35%;
    right: -5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #00CC6F;
}
.section-deliver-btn {
    margin-top: 31px;
}
/* stop-deliver */


/* start-footer */
.footer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.footer-top {
    padding: 74px 0;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}
.footer-top-navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-top-logo-box {
    width: 100%;
    max-width: 230px;
}

.footer-top-menu ul {
    display: flex;
    align-items: center;
}
.footer-top-menu ul li a {
    color: #333;
    margin: 0 17px;
}
.footer-top-menu ul li a:hover {
    color: #5183DB;
}
.footer-top-media ul {
    display: flex;
    align-items: center;
}
.footer-top-media ul li a {
    margin: 0 7px;
    border-radius: 50%;
}

.footer-top-media ul li a:hover {
    box-shadow: 0px 4px 15px rgb(0 0 0 / 36%);
}
.footer-bottom {
    padding: 25px 0;
}
.footer-bottom-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom-box-lft span {
    font-size: 16px;
    font-weight: 400;
    color: #9C9C9C;
    display: block;
}
.footer-bottom-box-lft span a {
    color: #9C9C9C;
}
.footer-bottom-box-lft span a:hover {
    color: #000;
}
.footer-bottom-box-rgt ul {
    display: flex;
    align-items: center;
}
.footer-bottom-box-rgt ul li a {
    color: #9C9C9C;
    margin: 0 17px;
}
.footer-bottom-box-rgt ul li a:hover {
    color: #1f2021;
}
/* stop-footer */

/* stop-monday-home-page */

/* start-monday-department-page */
.bannar-back-pic-overlay-content-menu ul {
    display: flex;
    justify-content: center;
    margin-bottom: 42px;
}
.bannar-overlay-menu-1 {
    position: relative;
}
.bannar-overlay-menu-1::after {
    content: "";
    position: absolute;
    top: 10%;
    right: -5px;
    transform: translate(10%, 10px);
    background-image: url(../images/bannar-menu-mdl-icon.png);
    z-index: 999999;
    width: 9px;
    height: 9px;
}
.bannar-back-pic-overlay-content-menu ul li a {
    color: #ffffff;
    margin: 0 10px;
    padding: 0 10px;
}
.bannar-back-pic-overlay-content .hone {
    color: #ffffff;
    margin-bottom: 42px;
    font-size: 75px;
}

.department-bannar-submit {
    margin: 62px 0 0;
}
.department-bannar-form .form-input {
    outline: none;
    width: 533px;
    height: 81px;
    border-radius: 73px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0px 3px 57px 0px rgba(0, 0, 0, 0.11);
    padding: 28px;
}
.department-bannar-form input[type="search"] {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}
.department-bannar-form .form-button {
    width: 85px;
    height: 81px;
    border-radius: 24px;
    background: #3E79CD;
    box-shadow: 0px 3px 57px 0px rgba(0, 0, 0, 0.11);
    border: none;
}

/* -start-department-innar-department */
.section-innar-department {
    padding-bottom: 91px;
}
.section-innar-department-box {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #E2F0FF -17.31%, #FFF 82.81%);
    padding: 72px 64px 0;
    margin: -96px 0 0;
    position: relative;
    z-index: 9999;
}
.section-innar-department-box .bannar-department-box {
    margin: 10px 0;
}
.section-innar-department-box .bannar-layout {
    margin: 15px 0;
}

.section-innar-department-box .bannar-department-divided-box {
    background: #FFF;
    padding: 27px 30px;
    box-shadow: 0px 13px 31px 0px rgba(77, 149, 245, 0.09);
    text-align: center;
}
.section-innar-department-box .bannar-department-divided-box span {
    color: #000;
    margin-top: 12px;
}
.innar-department-btn {
    margin-top: 73px;
    text-align: center;
}
/* stop-department-innar-department */
/* stop-monday-department-page */

/* start-department-submit-page */
.header-nav-menu .navbar-input {
    width: 490px;
    height: 40px;
    border-radius: 7px;
    background: #F6F8FA;
    border: none;
    outline: none;
    box-shadow: unset;
    padding: 10px 32px;
    font-size: 12px;
    color: #A6A8B5!important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.header-nav-menu .navbar-input-btn {
    background: transparent;
    padding: 4px 11px!important;
}
.header-nav-right-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
}
.header-nav-right-ntf {
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav-right-ntf ul {
    display: flex;
}
.header-nav-right-ntf ul li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(166, 168, 181, 0.11);
    backdrop-filter: blur(10.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.header-nav-right-ntf ul li a::before {
    display: none;
}
.header-nav-right-ntf ul li .notification-bing {
    position: relative;
}
.header-nav-right-ntf ul li .notification-bing::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 12px;
    background-image: url(../images/notification-alart.png);
    z-index: 999;
    width: 5px;
    height: 5px;
}
.header-nav-right-man {
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav-right-man-box {
    display: flex;
    align-items: center;
}
.header-nav-right-man-box span {
    margin-left: 6px;
    display: block;
}

/* start-innar-department-submit-form */
.header-nav-right-ntf ul li {
    border: none;
}
.innar-department-submit-form {
    padding-top: 53px;
    padding-bottom: 57px;
    background: #F6F9FF;
}
.innar-department-submit-form-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 22px 0px #EEF1F5;
}
.innar-department-form {
    padding: 35px 35px 51px;
}
.innar-department-form h3 {
    text-transform: capitalize;
}
.innar-department-form-bg .innar-department-form-group {
    margin: 30px 0;
}
.department-submit-form-btn {
    margin-top: 54px;
}
/* stop-innar-department-submit-form */
/* stop-department-submit-page */

/* start-prompt-page */
.prompt-content {
    position: relative;
    margin: 18px 0;
}
.prompt-content-box {
    border-radius: 7px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0px 13px 31px 0px rgba(77, 149, 245, 0.12);
    position: relative;
    padding: 25px 34px;
}
.prompt-content-box:hover {
    background: #5757EA;
    transition: all .4s ease-in-out;
}
.prompt-content-box:active {
    background: #5757EA;
}
.prompt-content-box h3 {
    width: 90%;
    color: #333;
}
.prompt-content-box h3:hover {
    color: #ffffff;
}
.prompt-content-box h3:active {
    color: #ffffff;
}
.prompt-content-media {
    position: absolute;
    top: 33px;
    right: 0;
    margin: 0 33px 0 0;
}
.prompt-content-media-box ul {
    display: flex;
}
.prompt-content-media-box ul li a {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    padding: 12px;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prompt-content-media-box ul li a:hover {
    background-color: #a9cffb;
}

.innar-prompt-content-bg {
    border-radius: 7px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0px 13px 31px 0px rgba(77, 149, 245, 0.12);
    display: flex;
    padding: 29px 23px;
    margin-top: 9px;
}
.innar-prompt-content-bg p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding-right: 15px;
}
.innar-prompt-content-bg .prompt-content-media-box ul {
    display: block;
}
.innar-prompt-content-bg .prompt-content-media-box ul li a {
    margin: 0 0 9px;
}
/* stop-prompt-page */

/* start-contact-page */
.section-contact-bannar {
    padding-top: 46px;
    padding-bottom: 50px;
}
.section-contact-bannar-menu {
    margin-bottom: 39px;
}
.section-contact-bannar-menu ul {
    display: flex;
    align-items: center;
}
.section-contact-bannar-menu ul li a {
    color: #000;
    margin: 0 10px;
    padding: 0 10px;
}
.section-contact-bannar-menu .bannar-overlay-menu-1::after {
    background-image: url(../images/bannar-menu-mdl-icon-black.png);
}
.contact-bannar-media {
    margin-top: 70px;
}
.contact-bannar-media ul {
    display: flex;
    align-items: center;
    margin-left: -40px;
    margin-right: -40px;
}
.contact-bannar-media ul li a {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}
.contact-bannar-media-box {
    display: flex;
    align-items: center;
}
.contact-bannar-media-box-icon {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.11));
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-bannar-media-box-icon-pic {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.11));
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-bannar-media-box h3 {
    color: #000;
    margin: 0 0 0 21px;
}
.section-contact-form {
    padding-top: 50px;
    padding-bottom: 127px;
}
.contact-bannar-form {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
.contact-bannar-form-box {
    padding: 55px 45px;
}
.contact-bannar-form-group {
    margin: 0 0 28px;
}
.contact-form-btm {
    margin: 10px 0 0;

}

/* stop-contact-page */

/* start-blog-page */
.section-blog {
    padding-top: 46px;
    padding-bottom: 100px;
}
.section-blog-innar-post {
    margin: 30px 0 0;
}
.section-blog-innar-group {
    margin: 30px 0;
}
.blog-innar-post-box {
    border-radius: 20px;
    border: 1px solid #F3F3F3;
    background: #FFF;
    box-shadow: 0px 4px 28px 1px rgba(0, 0, 0, 0.05);
    padding: 11px 12px 27px;
}
.blog-innar-post-pic {
    width: 310px;
    height: 219px;
}
.blog-innar-post-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.blog-innar-post-content span {
    font-size: 12px;
    font-weight: 500;
    color: #4D87D6;
    font-family: 'Poppins', sans-serif;
    margin: 7px 0 10px;
    display: block;
}
.blog-innar-post-content h5 {
    color: #333;
    padding-bottom: 13px;
    position: relative;
}
.blog-innar-post-content h5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 69px;
    height: 1px;
    background: #D0D0D0;
}
.blog-innar-post-content p {
    font-size: 16px;
    margin: 9px 0 13px;
}
.blog-innar-post-content-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-innar-post-content-create-name span {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.blog-innar-post-content-create-date {
    display: flex;
    align-items: center;
}
.blog-innar-post-content-create-date span {
    font-size: 10px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-left: 6px;
}
/* -start-pagiantion-box */
.section-blog-innar-post-pagination{
    width: 100%;
    max-width: 300px;
    margin: 60px 0 0;
    position: relative;
}

.pagination-left-arrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 9px;
    height: 9px;
}
.pagination-right-arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    width: 9px;
    height: 9px;
}



.blog-pagination-box .pagination-list ul {
    justify-content: center;
    display: flex;
    align-items: center;
}
.blog-pagination-box .pagination-list ul li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F4F6F9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
}
.blog-pagination-box .pagination-list ul li a:hover {
    background-color: #2C63AC;
    color: #FFF;
}
/* stop-pagination-box */

/* blog-popular */
.section-blog-box-innar-rgt-box {
    width: 100%;
    max-width: 330px;
    background-color: #F9F9F9;
    border-radius: 10px;
    margin: 25px 0 0;
    padding: 25px 18px;
}
.blog-rgt-content {
    border-bottom: 2px solid #949494;
    padding: 15px 0;
}
.blog-rgt-content:last-child {
    border-bottom: none;
}

.blog-rgt-content-box {
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
}
.blog-rgt-content-pic-box {
    padding-left: 5px;
    padding-right: 5px;
}
.blog-rgt-content-pic {
    width: 70px;
    height: 70px;
}
.blog-rgt-content-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.blog-rgt-content-hp {
    padding-left: 5px;
    padding-right: 5px;
}
.blog-rgt-content-hp h6 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}


/* blog-popular */

/* stop-blog-page */


/* start-responsive */
@media (max-width: 1199px) {
    /* start-index */
    .container {
        max-width: 960px;
    }
    .header-nav-menu ul li a {
        margin: 0 10px;
    }
    .header-nav-menu ul li a::before {
        right: -8%;
    }
    .bannar-back-pic-overlay-content h1 {
        font-size: 65px;
    }
    .bannar-department .row {
        width: 100%; 
    }
   
    .bannar-department-divided-box {
        padding: 20px 15px;
    }
    .section-bannar-btm {
        padding-bottom: 25px;
    }
    .section-customer {
        padding-top: 20px;
    }
    .section-client {
        padding-top: 35px;
    }
    .client-box-btm-shadow-1 {
        bottom: -43%;
        right: -11%;
    }
    .section-award {
        padding-top: 110px;
    }
    .section-award-back-pic-over {
        padding-top: 70px;
    }
    .award-over-lft {
        width: 280px;
    }
    .award-over-lft-rating {
        margin: 15px 0 0;
    }
    .award-over-lft-text h2 {
        color: #FFF;
        margin: 15px 0 15px;
        font-size: 36px;
    }
    .award-over-rgt-slider .slick-prev {
        bottom: -18px;
        left: -32%;
    }
    .award-over-rgt-slider .slick-next {
        bottom: -18px;
        left: -25%;
    }
    .section-deliver {
        padding-top: 30px;
        padding-bottom: 65px;
    }
    .section-deliver-box h2 {
        width: 90%;
    }
    .footer-top {
        padding: 45px 0;
    }
    .footer-top-menu ul li a {
        margin: 0 16px;
    }
    /* stop-index */

    /* start-department */
    .bannar-back-pic-overlay-content .hone {
        font-size: 55px;
    }
    .bannar-back-pic-overlay {
        padding-bottom: 235px;
    }
    .section-innar-department-box .bannar-department-divided-box {
        padding: 20px 12px;
    }
    
    .header-nav-menu .navbar-input {
        width: 350px;
    }
    /* stop-department */

    /* start-prompt */
    .prompt-content-box h3 {
        width: 76%;
    }
    /* stop-prompt */

    /* start-blog */
    .section-blog-box-innar-lft h2 {
        font-size: 38px;
    }
    .section-blog-box-innar-lft h2 span {
        font-size: 38px;
    }
    .blog-innar-post-pic {
        width: 262px;
    }
    .section-blog-box-innar-rgt h2 {
        font-size: 38px;
    }
    .section-blog-box-innar-rgt h2 span {
        font-size: 38px;
    }
    /* stop-blog */

    /* start-contact */
    .contact-bannar-media-box h3 {
        font-size: 24px;
    }
    .section-contact-bannar-box h2 {
        font-size: 39px;
    }
    .section-contact-bannar-box h2 span {
        font-size: 39px;
    }
    .contact-bannar-media {
        margin-top: 40px;
    }
    .section-contact-form {
        padding-bottom: 95px;
    }
    /* stop-contact */

   
   
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .header-nav-logo {
        width: 130px;
        height: 41px;
    }
    .header-nav-logo img {
        width: 100%;
    }
    .header-nav-menu ul li a {
        font-size: 11px;
        padding-left: 0!important;
    }
    .header-nav-menu ul li a::before {
        top: 32%;
        height: 10px;
    }
   
    .header-nav-left-btn .MybtnTwo {
        font-size: 12px;
    }
    .header-nav-left-btn .MybtnThree {
        font-size: 12px;
    }
    .bannar-back-pic-overlay {
        padding-top: 67px;
    }
    .bannar-back-pic-overlay-content h1 {
        width: 100%;
        font-size: 56px;
        border-bottom-right-radius: 10px;
    }
    .bannar-department .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .bannar-layout {
        padding-left: 5px;
        padding-right: 5px;
    }
    .bannar-department-divided {
        height: 150px;

    }
    .bannar-department-divided-box {
        padding: 20px 0;
    }
    .section-bannar-btm-left-pic {
        max-width: 360px;
        height: 350px;
    }
    .section-bannar-btm-right-pic {
        max-width: 360px;
        height: 350px;
    }
    .section-bannar-btm-box-pic {
        max-width: 460px;
        height:  400px;
    }
    .section-bannar-btm {
        padding-bottom: 0px;
        margin-top: -180px;
    }
    .section-customer {
        padding-bottom: 30px;
    }
    .section-client h2 {
        width: 65%;
    }
    .client-content-left {
        width: 360px;
        padding: 54px 0 84px;
    }
    .client-content-left-box {
        padding: 15px;
    }
    .client-slide-rating {
        margin-top: 9px;
    }
    .client-slide-text-prg p {
        line-height: 25.5px;
        font-size: 16px;
        margin-top: 12px;
    }
    
    .client-content-left-slider .slick-prev {
        bottom: 25px;
        right: -19%;
    }
    .client-content-left-slider .slick-next {
        bottom: 25px;
        right: -35%;
    }
    .client-content-right-box {
        width: 360px;
    }
    .client-box-top-shadow {
        top: -20%;
        left: 37%;
    }
    .client-box-btm-shadow-1 {
        width: 150px;
        height: 150px;
        bottom: 22%;
        right: -9%;
    }
    .client-box-btm-shadow-1 img {
        width: 100%;
        height: 100%;
    }
    .client-box-btm-shadow-2 {
        width: 150px;
        height: 150px;
        bottom: 26%;
        right: 5%;
    }
    .client-box-btm-shadow-2 img {
        width: 100%;
        height: 100%;
    }
    .section-client {
        padding-bottom: 20px;
    }
    .section-award {
        padding-top: 50px;
    }
    .section-award-back-over-pic .award-back-over-bg-img {
        left: 43px;
    }
    .award-over-lft-text h2 {
        font-size: 30px;
    }
    .award-over-lft-text h2 span {
        font-size: 30px;
    }
    .award-over-lft-text p {
        font-size: 19px;
    }
    .award-over-rgt {
        width: 360px;
    }
    .award-over-rgt-slider .slick-prev {
        left: -56%;
    }
    .award-over-rgt-slider .slick-next {
        left: -44%;
    }
    .award-over-rgt-slider .slick-list {
        margin: 0 -15px;
    }
    .award-over-rgt-slider-box {
        padding: 0 15px;
    }
    .award-over-rgt-slider-vote {
        padding: 20px 15px;
    }
    
    .award-over-rgt-slider-vote-text h5 {
        font-size: 17px;
        line-height: 23px;
    }
    .award-over-rgt-slider-vote-text p {
        font-size: 15px;
    }
    /* .award-over-rgt-slider-vote-logo {
        width: 250px;
    }
    .award-over-rgt-slider-vote-logo img {
        width : 100%;
    } */
    .customer-slider .slick-list {
        margin: 0 -15px;
    }
    .customer-slider-box {
        padding: 0 15px;
    }
    .customer-slider-box.slick-slide img {
        max-width: 100%;
    }
    .footer-top-logo-box {
        width: 150px;
    }
    .footer-top-logo-pic {
        width: 150px;
    }
    .footer-top-logo-pic img {
        width: 100%;
    }
    .footer-top-menu ul li a {
        font-size: 12px;
        margin: 0 6px;
    }
    .footer-top-media ul li a {
        margin: 0 5px;
    }
    .footer-bottom-box-lft span {
        font-size: 14px;
    }
    .footer-bottom-box-rgt ul li a {
        margin: 0 7px;
        font-size: 14px;
    }
    /* stop-index */

    /* start-department */
    .bannar-back-pic-overlay-content .hone {
        font-size: 52px;
    }
    .department-bannar-form .form-input {
        width: 500px;
        height: 76px;
    }
    .department-bannar-form .form-button {
        width: 80px;
        height: 76px;
    }
    .section-innar-department-box {
        padding: 40px 30px 0;
    }
    .section-innar-department-box .bannar-department-divided-box {
        padding: 20px 0;
    }
    .header-nav-menu .navbar-input {
        width: 245px;
    }
    .innar-department-form h3 {
        font-size: 28px;
    }
    .innar-department-form-bg .innar-department-form-group {
        margin: 15px 0;
    }
    .innar-department-form-group label {
        margin: 0 0 16px;
    }
    .innar-department-form-group input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
        padding: 15px 18px;
        font-size: 12px;
    }
    .innar-department-form-group textarea[type=message] {
        padding: 20px 25px;
        font-size: 12px;
    }
    .department-submit-form-btn {
        margin-top: 30px;
    }
    /* stop-department */

    /* start-prompt */
    .prompt-content-box h3 {
        width: 70%;
        font-size: 25px;
    }
    .prompt-content-box {
        padding: 17px 18px;
    }
    .prompt-content-box h3 {
        width: 62%;
        font-size: 21px;
    }
    /* stop-prompt */
    
    /* start-blog */
    .section-blog-box-innar-lft h2 {
        font-size: 34px;
    }
    .section-blog-box-innar-lft h2 span {
        font-size: 34px;
    }
    .blog-innar-post-pic {
        width: 183px;
    }
    .blog-innar-post-content h5 {
        font-size: 18px;
    }
    .blog-rgt-content-hp h6 {
        font-size: 13px;
    }
    /* stop-blog */

    /* start-contact */
    .section-contact-bannar {
        padding-top: 35px;
    }
    .section-contact-bannar-box h2 {
        font-size: 35px;
    }
    .section-contact-bannar-box h2 span {
        font-size: 35px;
    }
    .contact-bannar-media-box-icon {
        width: 58px;
        height: 58px;
    }
    .contact-bannar-media-box-icon-pic {
        width: 40px;
        height: 40px;
    }
    .contact-bannar-media-box h3 {
        font-size: 17px;
    }
    .section-contact-form {
        padding-top: 20px;
        padding-bottom: 70px;
    }
    
    /* stop-contact */
}


@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header-nav-menu ul {
        align-items: initial;
        margin: 0 auto 10px!important;
    }
    .header-nav-menu ul li {
        border-right: none;
    }
    .bannar-back-pic-overlay-content h1 {
        font-size: 45px;
    }
    .bannar-back-pic-overlay-content p {
        font-size: 18px;
    }
    .bannar-department {
        margin-top: 25px;
    }
    .bannar-department-divided {
        margin: 0 0 15px;
    }
    .bannar-department-divided-box {
        padding: 20px;
    }
    .bannar-department .MybtnOne {
        margin-top: 40px;
    }
    .bannar-back-pic-overlay-content p {
        font-size: 16px;
    }
    .section-bannar-btm-left-pic {
        max-width: 270px;
        height: 250px;
    }
    .section-bannar-btm-right-pic {
        max-width: 270px;
        height: 250px;
    }
    .section-bannar-btm-box-pic {
        max-width: 300px;
        height: 300px;
    }
    .section-customer p {
        font-size: 20px;
    }
    .section-customer-box {
        margin: 35px 0 0;
    }
    .client-content-left {
        padding: 54px 0 0px;
    }
    .section-client h2 {
        font-size: 30px;
    }
    .section-client h2 span {
        font-size: 30px;
    }
    .client-box-top-shadow {
        top: -15%;
        left: 17%;
    }
    .client-box-btm-shadow-1 {
        bottom: 28%;
        right: -15%;
    }
    .client-box-btm-shadow-2 {
        bottom: 29%;
        right: 4%;
    }
    .client-content-left-slider .slick-prev {
        right: -22%;
    }
    .client-content-left-slider .slick-list {
        margin: -20px;
    }
    .client-content-left-slider-box {
        padding: 20px;
    }
    .client-content-left-box {
        box-shadow: 0px 0px 20px rgba(120, 120, 120, 0.09);
    }
    .client-title-lft-pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .client-title-lft-pic img {
        width: 100%;
        height: 100%;
    }
    .client-title-rgt-hd h6 {
        font-size: 15px;
    }
    .client-title-rgt-hd span {
        font-size: 11px;
    }
    .client-slide-rating ul li {
        margin: 0 2px;
    }
    .client-slide-rating ul li img {
        width: 15px;
        height: 15px;
    }
    .client-slide-text-prg p {
        line-height: 20.5px;
        font-size: 13px;
    }
    .section-award {
        padding-top: 10px;
    }
    .section-award-back-over-pic .award-back-over-bg-img  {
        bottom: -85px;
        left: 30px;
    }
    .section-award-back-over-content {
        padding-top: 60px;
    }
    
    .award-over-lft {
        width:260px;
    }
    .award-over-lft-rating {
        margin: 8px 0 0;
    }
    .award-over-lft-text h2 {
        font-size: 27px;
        margin: 12px 0 15px;
    }
    .award-over-lft-text h2 span {
        font-size: 27px;
    }
    .award-over-lft-text p {
        font-size: 17px;
    }
    .award-over-rgt {
        width:260px;
    }
    .award-over-rgt-box {
        margin: 0 0px 0 0;
    }
    .award-over-rgt-slider .slick-prev {
        left: -104%;
    }
    .award-over-rgt-slider .slick-next {
        left: -82%;
    }
    .award-over-rgt-slider-vote-text h5 {
        font-size: 16px;
        margin: 15px 0 0;
        padding: 0 0 15px;
    }
    .award-over-rgt-slider-vote-text p {
        font-size: 14px;
        margin: 15px 0 0;
    }
    .section-deliver {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .section-deliver-box h2 {
        font-size: 30px;
    }
    .section-deliver-box h2 span {
        font-size: 30px;
    }
    .footer-top-media {
        margin: 15px 0 0;
    }
    .footer-bottom-box-rgt {
        margin: 15px 0 0;
    }
    /* stop-index */

    /* start-department */
    .bannar-back-pic-overlay-content .hone {
        font-size: 48px;
        margin-bottom: 34px;
    }
    .department-bannar-form .form-input {
        width: 345px;
        height: 72px;
    }
    .department-bannar-form .form-button {
        width: 76px;
        height: 72px;
        border-radius: 20px;
    }
    .section-innar-department-box .bannar-department-divided-box {
        padding: 20px 15px;
    }
    .header-nav-right-box {
       justify-content: inherit;
       margin: 10px 0 0;
    }
    .header-nav-right-ntf ul {
        margin: 0 auto 0!important;
    }
    .innar-department-submit-form {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .innar-department-form h3 {
        font-size: 25px;
    }
    .innar-department-form-group input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
        height: 50px;
    }
    .innar-department-form-group textarea[type=message] {
        height: 120px;
    }
    .section-innar-department-box {
        padding: 30px 30px 0;
    }
    .innar-prompt-content-bg p {
        font-size: 13px;
    }
    .innar-prompt-content-bg p {
        font-size: 13px;
        margin-bottom: 0;
    }
    .prompt-content-media-box ul li a {
        width: 40px;
        height: 40px;
    }
    .innar-department-btn {
        margin-top: 50px;
    }
    .section-innar-department {
        padding-bottom: 60px;
    }
    /* stop-department */

    /* start-blog */
    .section-blog {
        padding-bottom: 50px;
    }
    .section-blog-box-innar-lft h2 {
        font-size: 30px;
    }
    .section-blog-box-innar-lft h2 span {
        font-size: 30px;
    }
    .section-blog-box-innar-rgt h2 {
        font-size: 30px;
    }
    .section-blog-box-innar-rgt h2 span {
        font-size: 30px;
    }
    .blog-innar-post-pic {
        width: 213px;
    }
    .blog-innar-post-content h5 {
        font-size: 16px;
    }
    .blog-innar-post-content p {
        font-size: 13px;
    }
    .blog-pagination-box .pagination-list ul li a {
        width: 30px;
        height: 30px;
        margin: 0 4px;
    }
    .section-blog-innar-group {
        margin: 0;
    }
    .blog-innar-post-box {
        margin: 0 0 15px;
    }
    /* stop-blog */

    /* start-contact */
    .section-contact-bannar {
        padding-top: 20px;
    }
    .section-contact-bannar-menu {
        margin-bottom: 30px;
    }
    .section-contact-bannar-box h2 span {
        font-size: 32px;
    }
    .contact-bannar-media-box-icon {
        width: 50px;
        height: 50px;
    }
    .contact-bannar-media-box-icon-pic {
        width: 35px;
        height: 35px;
    }
    .contact-bannar-media-box h3 {
        font-size: 12px;
    }
    .contact-bannar-form-box {
        padding: 40px 30px;
    }
    .contact-bannar-form-group-box {
        margin: 0 0 15px;
    }
    .contact-bannar-form-group-box label {
        margin: 0 0 13px;
    }
    .contact-bannar-form-group-box input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
        padding: 13px 18px;
    }
    .contact-bannar-form-group {
        margin: 0 0 0px;
    }
    .contact-bannar-form-group textarea[type=message] {
        height: 122px;
    }
    /* stop-contact */
}

@media (max-width: 575px) {
    .bannar-back-pic-overlay-content h1 {
        font-size: 38px;
    }
    .bannar-department-divided {
        width: 145px;
        height: 135px;
        margin: 0 auto 15px;
    }
    .bannar-department-divided-box {
        padding: 15px 18px;
    }
    .bannar-department-divided-icon {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
    .bannar-department-divided-icon img {
        width: 100%;
        height: 100%;
    }
    .bannar-department .MybtnOne {
        margin-top: 30px;
        font-size: 14px;
    }
    .section-client h2 {
        font-size: 27px;
    }
    .section-client h2 span {
        font-size: 27px;
    }
    .section-award {
        padding-bottom: 16px;
    }
    .award-over-rgt-slider .slick-prev {
        left: -80%;
    }
    .award-over-rgt-slider .slick-next {
        left: -56%;
    }
    .award-over-lft-text h2 {
        font-size: 22px;
    }
    .award-over-lft-text h2 span {
        font-size: 22px;
    }
    .section-award-back-over-pic .award-back-over-bg-img {
        bottom: -78px;
        left: 30px;
    }
    .section-deliver-box h2 {
        font-size: 22px;
    }
    .section-deliver-box h2 span {
        font-size: 22px;
    }
    .section-deliver-box .section-deliver-prg p {
        font-size: 17px;
    }
    .section-deliver-box h2 {
        margin: 0 auto 22px;
    }
    .footer-top-navbar {
        display: block;
    }
    .footer-top-menu {
        margin: 15px 0 0;
    }
    .footer-top-menu {
        font-size: 15px;
    }
   /* stop-index */

   /* start-department */
   .bannar-back-pic-overlay-content .hone {
        font-size: 35px;
    }
    .department-bannar-form .form-input {
        width: 300px;
        height: 63px;
    }
    .department-bannar-form .form-button {
        width: 66px;
        height: 63px;
        border-radius: 16px;
    }
    .section-innar-department-box .bannar-department-divided {
        width: 100%;
        height :100%;
    }
    .innar-prompt-content-box h5 {
        font-size: 20px;
    }
    .innar-department-btn .MybtnOne {
        font-size: 14px;
    }
   /* stop-department */

   /* start-prompt */
   .prompt-content-box h3 {
    width: 56%;
    font-size: 17px;
   }
   .innar-department-form-bg .innar-department-form-group {
    margin: 5px 0;
    }
    .innar-department-form-group label {
        margin: 0 0 8px;
    }
    .department-submit-form-btn .MybtnOne {
        padding: 10px 25px 10px 25px;
        font-size: 14px;
    }
    .innar-department-form-group select {
        height: 45px;
        padding: 8px 10px;
    }
    .innar-department-form-group textarea[type=message] {
        height: 91px;
    }
   /* stop-prompt */

   /* start-blog */
   .section-blog-box-innar-lft h2 {
    font-size: 27px;
    }
    .section-blog-box-innar-lft h2 span {
        font-size: 27px;
    }
    .section-blog-box-innar-rgt h2 {
        font-size: 27px;
    }
    .section-blog-box-innar-rgt h2 span {
        font-size: 27px;
    }
    .blog-rgt-content-hp h6 {
        font-size: 11px;
    }
    .blog-innar-post-pic {
       width: 182px;
    }
    .section-blog-innar-post-pagination {
       margin: 25px 0 0;
    }
   /* stop-blog */

   /* start-contact */
    .section-contact-bannar-box h2 span {
        font-size: 28px;
    }
    .contact-bannar-media {
        margin-top: 22px;
    }
    .contact-bannar-media ul {
        margin-left: -10px;
        margin-right: -10px;
    }
    .contact-bannar-media ul li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .contact-bannar-media-box h3 {
        margin: 0 0 0 13px;
    }
    .section-contact-bannar {
        padding-bottom: 33px;
    }
    .contact-bannar-form-box {
        padding: 30px 25px;
    }
    .contact-bannar-form-group label {
        margin: 0 0 13px;
    }
    .contact-bannar-form-group-box input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
        padding: 10px 15px;
        height: 49px;
        font-size: 13px;
    }
    .contact-bannar-form-group textarea[type=message] {
        padding: 24px 22px;
    }
   /* stop-contact */
}

@media (max-width: 479px) {
    .bannar-back-pic-overlay-content h1 {
        font-size: 28px;
    }
    .bannar-back-pic-overlay-content p {
        font-size: 15px;
    }
    .bannar-department .MybtnOne {
        font-size: 13px;
    }
    .section-customer {
        padding-bottom: 20px;
    }
    .section-client {
        padding-bottom: 40px;
    }
    .section-client h2 {
        font-size: 23px;
    }
    .section-client h2 span {
        font-size: 23px;
    }
    .client-content-left {
        width: 280px;
        padding: 100px 0 0px;
    }
    .client-content-left-slider .slick-prev {
        bottom: 16px;
        right: 58%;
    }
    .client-content-left-slider .slick-next {
        bottom: 16px;
        right: 37%;
    }
    .client-box-top-shadow {
        left: 12%;
    }
    .client-box-btm-shadow-1 {
        bottom: 24%;
    }
    .client-content-left-slider .slick-list {
        margin: -49px;
    }
    .client-content-left-slider-box {
        padding: 50px;
    }
    .client-content-right-box {
        width: 330px;
    }
    .award-over-box {
        display: block;
    }
    .section-award-back-over-content {
        padding-top: 30px;
    }
    .award-over-lft {
        width: 100%;
        margin: 0 0 30px;
    }
    .section-award-back-over-pic .award-back-over-bg-img {
        bottom: 0;
        left: 0;
    }
    .award-over-rgt-slider .slick-prev {
        left: 0;
        bottom: -63px;
    }
    .award-over-rgt-slider .slick-next {
        left: 65px;
        bottom: -63px;
    }
    .section-deliver-btn .MybtnOne {
        font-size: 13px;
    }
    .footer-bottom-box-lft span {
        font-size: 13px;
    }
    .footer-bottom-box-rgt ul li a {
        font-size: 13px;
    }
    /* stop-index */

    /* start-department */
    .bannar-back-pic-overlay {
        padding-bottom: 212px;
    }
    .bannar-back-pic-overlay-content .hone {
        font-size: 33px;
    }
    .department-bannar-form .form-input {
        width: 218px;
        height: 64px;
    }
    .department-bannar-form .form-button {
        width: 66px;
        height: 64px;
        border-radius: 17px;
    }
    .innar-department-btn {
        font-size: 14px;
    }
    /* stop-department */

    /* start-prompt */
    .prompt-content-media {
        top: 9px;
        margin: 0 20px 0 0;
    }
    .prompt-content-media-box ul {
        display: block;
    }
    .prompt-content-media-box ul li a {
        width: 35px;
        height: 35px;
        margin: 3px 0px;
    }
    .bannar-back-pic-overlay-content-menu ul li a {
        margin: 0 6px;
        padding: 0px 6px;
    }
    /* stop-prompt */

    /* start-blog */
    .section-blog {
        padding-top: 15px;
    }
    .section-blog-box-innar-lft h2 {
        font-size: 20px;
    }
    .section-blog-box-innar-lft h2 span {
        font-size: 20px;
    }
    .section-blog-innar-post {
        margin: 24px 0 0;
    }
    .section-blog-box-innar-rgt h2 {
        font-size: 20px;
    }
    .section-blog-box-innar-rgt h2 span {
        font-size: 20px;
    }
    .blog-rgt-content-box {
        display: block;
    }
    .blog-innar-post-pic {
        width: 122px;
        height: 130px;
    }
    .blog-innar-post-pic img {
        border-radius: 10px;
    }
    .blog-innar-post-content span {
        margin: 7px 0 5px;
    }
    .blog-innar-post-content h5 {
        padding-bottom: 10px;
        font-size: 15px;
    }
    .blog-innar-post-content p {
        font-size: 12px;
        margin: 10px 0 8px;
    }
    .blog-innar-post-content-create {
        display: block;
    }
    .blog-innar-post-box {
        padding: 11px 12px 14px;
    }
    .section-blog-box-innar-rgt-box {
        padding: 18px 18px;
    }
    .blog-rgt-content-pic {
        margin: 0 0 10px;
    }
    .blog-rgt-content {
        padding: 10px 0;
    }
    .blog-pagination-box .pagination-list ul li a {
        width: 22px;
        height: 22px;
        font-size: 10px;
        margin: 0 2px;
    }
    .pagination-right-arrow {
        top: -4px;
        right: -4px;
    }
    .pagination-left-arrow {
        top: -4px;
        left: -4px;
    }
    /* .section-blog-box-innar .row {
        display: block;
    } */
    /* .section-blog-box-innar .col-6 {
        max-width: 100%;
    } */
    /* stop-blog */

    /* start-contact */
    .section-contact-bannar-menu ul li a {
        font-size: 12px;
    }
    .section-contact-bannar-menu {
        margin-bottom: 20px;
    }
    .section-contact-bannar-box h2 span {
        font-size: 26px;
    }
    .contact-bannar-media ul {
        display: block;
       
    }
    .contact-bannar-media ul li {
        margin: 0 0 10px;
    }
    .section-contact-bannar {
        padding-bottom: 23px;
    }
    .contact-bannar-form-group-box {
        margin: 0 0 10px;
    }
    .contact-bannar-form-group label {
        margin: 0 0 10px;
        font-size: 13px;
    }
    .contact-bannar-form-group-box input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
        height: 47px;
        font-size: 11px;
    }
    .contact-bannar-form-group textarea[type=message] {
        height: 110px;
    }
    .contact-form-btm .MybtnOne {
        font-size: 14px;
        padding: 11px 25px 11px 25px;
    }
    /* stop-contact */
}
/* stop-responsive */